<%
  locales = Refinery::I18n.locales.clone
  current_locale = ::I18n.locale
%>
<ul id='current_locale'>
  <li>
    <%= link_to "#", :style => "background-image: url('#{asset_path "refinery/icons/flags/#{current_locale}.png"}');" do %>
      <%= force_encoding locales.delete(current_locale) %>
      <span>
        <%= t 'change_language', :scope => 'refinery.admin.dashboard.actions' %>
      </span>
      <span style='display:none;'>
        <%= t 'cancel', :scope => 'refinery.admin.form_actions' %>
      </span>
    <% end %>
  </li>
</ul>
<ul id='other_locales' style='display: none'>
  <% locales.sort_by{|key, value| value}.each do |locale, locale_title| %>
    <li>
      <%= link_to force_encoding(locale_title),
                  refinery.admin_dashboard_path(:set_locale => locale),
                  :style => "background-image: url('#{asset_path "refinery/icons/flags/#{locale}.png"}');" %>
    </li>
  <% end %>
</ul>